body {
    font-family: comic sans ms
}

img {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
h2 {
    color: red;
    font-size: 2em;
}
h1 {
    color: blue;
    font-size: 3em;
}
p {
    color: green;
    font-size: 1.5em;
}